name: Android CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Hatalı Parametreleri Temizle
      run: |
        # Projenin her yerindeki o bozuk bellek ayarını siliyoruz
        find . -type f -exec sed -i 's/"-Xmx64m"//g' {} +
        find . -type f -exec sed -i 's/-Xmx64m//g' {} +
        # Klasöre girip yetki veriyoruz
        chmod +x android/gradlew

    - name: Build with Gradle (Hata Ayıklamalı)
      run: |
        cd android
        ./gradlew assembleDebug -Dorg.gradle.jvmargs="-Xmx2048m"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Super3-RazerEdge-APK
        path: android/app/build/outputs/apk/debug/app-debug.apk
